$purple: #9980FF
$neon: #00F2DB
$white: #EFF0FF
$bg: #1C1846
$bg-gradient: linear-gradient(50deg,#1C1846, #341E8B)
$paddingNav: 0.4rem
$menu-height: calc(50px + $paddingNav + $paddingNav)

@import url("https://use.typekit.net/eak6pjs.css")

$darkmodeFont: darkmode-off, sans-serif
$riftFont: rift-soft, sans-serif

/* width */
::-webkit-scrollbar
    width: 14px
    background: $bg

/* Track */
::-webkit-scrollbar-track
    border-radius: 10px

/* Handle */
::-webkit-scrollbar-thumb
    background: $purple
    box-shadow: inset 0 0 2px rgba(0,0,0,0.6)
    border-radius: 10px
    border: solid 3px $bg

body
    margin: 0
    padding: 0
    font-family: $darkmodeFont
    font-style: normal
    background: $bg-gradient
#app
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    margin: $menu-height 0 0 0
    padding: 0

.PageFade-enter-active, .PageFade-leave-active
    transition: opacity 0.2s ease
.PageFade-enter-from, .PageFade-leave-to
    opacity: 0
.PageFade-enter-to, .PageFade-leave-from
    opacity: 1
