$phone: 768px
$tablet: 1200px
$desktop: 1600px
@import include-media

$purple: #9980FF
$neon: #00F2DB
$white: #EFF0FF
$whitePurple: #ded5ff
$bg: #1C1846
$bg-gradient: linear-gradient(50deg,#1C1846, #341E8B)
$bg-glow: radial-gradient(circle, rgba(118,82,255,1) 0%, rgba(52,30,139,1) 100%)
$bg-glow-neon: radial-gradient(circle, #82fff2 0%, rgba(52,30,139,1) 100%)
$radius_1: 30px
$radius_2: 10px

$contentWidth: 85%
$banner_gap: 2rem
$currentColor: $purple

$paddingNav: 0.4rem
$mobileTopIcon: 35px
$menu-height: calc(40px + $paddingNav + $paddingNav)
$mobileTop_height: calc($mobileTopIcon + $paddingNav + $paddingNav - 10px)

@import url("https://use.typekit.net/eak6pjs.css")
@import url("https://use.typekit.net/hlx1ggc.css")

$darkmodeFont: darkmode-off, sans-serif
$riftFont: rift-soft, sans-serif

$scrollbarSize: 0.5rem

/* Track */
::-webkit-scrollbar-track

/* width */
::-webkit-scrollbar
    width: $scrollbarSize
    height: $scrollbarSize
    background: $bg
/* Handle */
::-webkit-scrollbar-thumb
    background: $purple

body
    margin: 0
    padding: 0
    font-family: $darkmodeFont
    font-style: normal
    background: $bg-gradient
#app
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    // margin: $menu-height 0 0 0
    padding: 0
    // background: $bg-gradient
    @include media('<phone')
        margin-bottom: calc($menu-height - 10px)
        margin-top: $mobileTop_height

.PageFade-enter-active, .PageFade-leave-active
    transition: opacity 0.2s ease
.PageFade-enter-from, .PageFade-leave-to
    opacity: 0
.PageFade-enter-to, .PageFade-leave-from
    opacity: 1
