// ###############################
// Variables
// ###############################
section
    min-height: 70vh
    margin-top: $menu-height
    background: $bg-gradient
    padding-bottom: $menu-height

    @include media('<phone')
        // margin-bottom: $menu-height
        height: calc(100vh - $menu-height - $mobileTop_height)
        overflow-y: scroll
        margin-bottom: 0
        margin-top: 0
    &:last-child
        margin-bottom: $menu-height !important
        padding-bottom: $menu-height !important
.icon_1
    fill: $neon
    transition: fill 0.2s ease
svg
    &:hover
        cursor: pointer
        .icon_1
            fill: $white

.flex_center_h
    display: flex
    flex-direction: row
    justify-content: center

.flex_center_h_mobileSwitch
    display: flex
    flex-direction: row
    justify-content: center
    @include media('<phone')
        flex-direction: column

.flex_center_v
    display: flex
    flex-direction: column
    justify-content: center

.flex_row_reversed
    flex-direction: row-reverse

.flex_start
    justify-content: flex-start

.flex_end
    justify-content: flex-end

.flex_between
    justify-content: space-between

.align_center
    align-items: center !important
.align_left
    align-items: flex-start !important

.absoluteBottomCenter
    position: absolute
    bottom: 0
    left: 50%
    transform: translateX(-50%)

.bottom2
    bottom: 2rem
    @include media('<phone')
        bottom: calc(2rem + $menu-height)

.gap2
    gap: 2rem

.gap1
    gap: 1rem

.text_left
    text-align: left

.bg
    background: $bg !important

.purpleBG
    background: $purple !important

.neonBG
    background: $neon !important

.gradientBG
    background: $bg-gradient !important

.purpleText
    color: $purple !important

.neonText
    color: $neon !important

.whiteText
    color: $white !important
.bgText
    color: $bg !important

.border_purple
    border: 0.15rem solid $purple !important

.line
    width: 100%
    height: 1px
    background: $purple
    margin: 1rem auto
.lineMargin_small
    margin: 0.1rem auto
.lineAnmelden
    width: $innerWidthAnmelden
    margin: 0 auto 1rem auto

.blurBG
    position: fixed
    z-index: 1
    background: rgba($bg, 0.5)
    width: 100%
    height: 100%
    backdrop-filter: blur(20px)

.noShadow
    box-shadow: none !important

.anmeldeAnim-enter-from, .anmeldeAnim-leave-to
    opacity: 0
    top: 50%
    left: 50%
    transform: translateX(-50%) translateY(-50%) scale(0)
.anmeldeAnim-enter-to, .anmeldeAnim-leave-from
    opacity: 1
    top: 50%
    left: 50%
    transform: translateX(-50%) translateY(-50%) scale(1)
.anmeldeAnim-enter-active, .anmeldeAnim-leave-active
    transition: all 0.3s ease

.menufade-enter-from, .menufade-leave-to
    opacity: 0
    top: -100%
.menufade-enter-to, .menufade-leave-from
    opacity: 1
    top: $menu-height
.menufade-enter-active, .menufade-leave-active
    transition: opacity 0.4s ease, top 0.4s ease-in-out

.bellOpen-enter-active, .bellOpen-leave-active
    transition: opacity 0.3s ease, top 0.3s ease
.bellOpen-enter-from, .bellOpen-leave-to
    opacity: 0
    top: -100%
.bellOpen-enter-to, .bellOpen-leave-from
    opacity: 1
    top: $menu-height

.leftSwipe-enter-active, .leftSwipe-leave-active
    transition: opacity 0.3s ease, left 0.3s ease
.leftSwipe-enter-from, .leftSwipe-leave-to
    opacity: 0
    left: -100%
.leftSwipe-enter-to, .leftSwipe-leave-from
    opacity: 1
    left: 0

.rightSwipe-enter-active, .rightSwipe-leave-active
    transition: opacity 0.3s ease, right 0.3s ease
.rightSwipe-enter-from, .rightSwipe-leave-to
    opacity: 0
    right: -100%
.rightSwipe-enter-to, .rightSwipe-leave-from
    opacity: 1
    right: 0

.fade-enter-active, .fade-leave-active
    transition: opacity 0.2s ease
.fade-enter-from, .fade-leave-to
    opacity: 0
.fade-enter-to, .fade-leave-from
    opacity: 1

.equalWidth
    flex: 1

.width100
    width: 100vw

.width80p
    width: 80%

.width100p
    width: 100%

.paddingWindow
    justify-content: center !important
    width: calc(85% + 5rem) !important
    align-items: stretch !important
    @include media('<=tablet')
        width: 95% !important
        margin-left: 2.5% !important
    @include media('<phone')
        margin-left: 0 !important
        width: 100% !important
        align-items: center !important
