// Swipe Points
.swipePointsContainer

    .point
        width: 10px
        height: 10px
        border-radius: 50%
        background: $neon
        transition: width 0.2s ease, height 0.2s ease, background 0.2s ease
    .active
        width: 16px
        height: 16px
        background: $white
        box-shadow: 0 0rem 1rem rgba($neon,0.5)

.bottomCollum
    min-width: 100px
