@import base
@import menu
@import banner
@import elements
@import footer
@import settings

// ###############################
// Home
// ###############################

.home
    background: $bg-gradient
    width: 100%
    padding: 0
    // margin: 0

    .HomeSection
        display: flex
        justify-content: center
        align-items: center
        gap: 2rem
        padding: $banner_gap 0px
        width: 100%
        // padding: 0 5%
        // padding: 0 20%
        background: $bg-gradient
        @include media('<phone')
            justify-content: flex-start
            gap: 0rem
            flex-direction: column
            padding: 0
            background: rgba($bg, 0) !important
        .SubContainer
            @include media('<phone')
                gap: 0rem

// ###############################
// Comment Section
// ###############################
.commentContainer
    background: $purple
    padding: 2rem 0rem
    h2
        color: $bg
        font-size: 2.5rem
        font-weight: bold
        margin: 0
        padding: 0
        text-align: center

    .commentSlide
        max-height: 500px
        overflow-x: scroll
        padding: 2rem 1rem
        border: none
        // height: 70vh
        gap: 1rem
        align-items: stretch
        .comment
            background: $white
            padding: 2rem
            border-radius: $radius_1
            min-width: 500px
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
            @include media('<phone')
                min-width: calc(80vw - 4rem)

            .commentInfo
                align-items: center
                gap: 1rem
                img
                    width: 25%
                    max-width: 80px
                    height: auto
                    object-fit: cover
                    border-radius: 50%
                    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5)
                h3
                    font-size: 1.2rem
                    font-weight: bold
                    color: $bg
                    margin: 0

            .comment_text
                font-size: 1rem
                font-family: $darkmodeFont
                font-weight: 500
                opacity: 0.8

// ###############################
// AboMachen Section
// ###############################
.AboMachen
    min-height: 60vh
    gap: 1rem
    background: $neon
    @include media('<phone')
        min-height: 70vh
        padding-bottom: calc(30vh - 2rem - $menu-height)
    h2
        color: $bg
        font-size: clamp(2.5rem, 8vw, 3.5rem)
        font-weight: bold
        margin: 0
        padding: 0
        text-align: center
    p
        color: $bg
        opacity: 0.7
        font-size: clamp(1rem, 5vw, 1.5rem)
        font-weight: 500
        margin: 0
        padding: 0
        text-align: center

// ###############################
// Buttons
// ###############################

.CallToAction
    display: flex
    justify-content: center
    align-items: center
    padding: 0.6rem 1.2rem
    font-size: 1rem
    font-family: $darkmodeFont
    font-weight: 700
    border-radius: 10px
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2)
    transition: background 0.3s ease, color 0.3s ease
    margin-top: 1rem
    position: relative
    border: none
    text-decoration: none
    &:hover
        cursor: pointer

.Button_1
    display: flex
    justify-content: center
    align-items: center
    padding: 0.5rem 1rem
    font-size: 0.8rem
    font-family: $darkmodeFont
    font-weight: 700
    border-radius: 10px
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2)
    transition: background 0.3s ease, color 0.3s ease
    position: relative
    border: none
    text-decoration: none

.ButtonStyle1
    background: $bg
    color: $white
    transition: background 0.2s ease, color 0.2s ease
    // font-size: 0.8rem
    gap: 1rem
    img
        width: 2.5rem
        height: 2.5rem
    &:hover, &:focus, &:active
        background: $white
        color: $bg
        text-decoration: none

.ButtonStyle2
    background: $neon
    color: $bg
    transition: background 0.2s ease, color 0.2s ease
    text-decoration: none
    &:hover, &:focus, &:active
        background: $white
        color: $bg
        text-decoration: none

.ButtonStyle3
    background: $purple
    color: $bg
    transition: background 0.2s ease, color 0.2s ease
    &:hover, &:focus, &:active
        background: $white
        color: $bg
        text-decoration: none

.ButtonStyle4
    background: $white
    color: $purple
    transition: background 0.2s ease, color 0.2s ease
    // font-size: 1rem
    gap: 1rem
    img
        width: 3rem
        height: 3rem
    &:hover, &:focus, &:active
        background: $white
        color: $bg
        text-decoration: none

// ###############################
// PreisBanner
// ###############################
.preise
    padding-top: 5vh
    .AboH1
        margin-bottom: 2rem

.preisInfo
    width: 30%
    background: $bg
    border-radius: $radius_2
    padding: 2rem
    box-shadow: 0 0rem 2rem rgba($neon,1)
    h3
        font-size: 2rem
        color: $neon
    .preisPunkt
        width: 100%
        display: flex
        justify-content: space-between
        border-bottom: 1px solid $neon
        align-items: center
        gap: 1rem
        padding: 0.5rem 0
        color: $white
        .check
            width: 1.5rem
            height: 1.5rem
            background: $bg
            border: 0.3rem solid $neon
            border-radius: 50%
            margin: 0.5rem 0
        .yes
            &::after
                content: '✔'
                font-size: 1.5rem
                color: $neon
                position: relative
                top: -0.5rem
                left: 0.2rem

.preisListe
    width: 30%
    .priceBox
        background: $white
        padding: 2rem 1.5rem
        border-radius: $radius_2
        color: $bg
        // border: 0.2rem solid $purple
        h4
            font-size: 1.3rem
            font-weight: bold
            color: $bg
            margin: 0
            padding: 0

        p
            margin: 0
            padding: 0
        .priceBoxR
            .priceNumber
                font-size: 1.5rem
                font-weight: bold
                color: $bg
                margin: 0
                padding: 0
                p
                    font-size: 1rem
                    font-weight: 500
                    color: $bg
                    margin: 0
                    padding: 0 0 0 0.5rem
        &:hover
            cursor: pointer

    .activePlan
        background: $neon
        color: $bg
        transition: background 0.2s ease, color 0.2s ease

.equalButtons
    flex: 1
    min-width: 180px
    @include media('<tablet')
        min-width: 170px
    @include media('<phone')
        min-width: 70%

.logoutButton
    position: absolute
    bottom: 0
    right: 1rem
    padding: 0.2rem 0.6rem 0.2rem 0.6rem

@import variables
